/* CONTENT 1 */
/* .elementor-widget-duurzaamthuis-content-1 .wrapper {
   display: grid;
   column-gap: 30px;
}
.elementor-widget-duurzaamthuis-content-1.image-width-33 .wrapper {
   grid-template-columns: 1fr 2fr;
}
.elementor-widget-duurzaamthuis-content-1.image-width-50 .wrapper {
   grid-template-columns: 1fr 1fr;
}
.elementor-widget-duurzaamthuis-content-1.image-width-66 .wrapper {
   grid-template-columns: 2fr 1fr;
}
.elementor-widget-duurzaamthuis-content-1.image-align-left .image-column {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
}
.elementor-widget-duurzaamthuis-content-1.image-align-left .content-column {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
}
.elementor-widget-duurzaamthuis-content-1.image-align-right .image-column {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
}
.elementor-widget-duurzaamthuis-content-1.image-align-right .content-column {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
}
@media(max-width: 767px) {
   .elementor-widget-duurzaamthuis-content-1.image-width-33 .wrapper,
   .elementor-widget-duurzaamthuis-content-1.image-width-50 .wrapper,
   .elementor-widget-duurzaamthuis-content-1.image-width-66 .wrapper {
      grid-template-columns: 1fr;
   }
   .elementor-widget-duurzaamthuis-content-1:not(.reverse-columns) .image-column {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
   }
   .elementor-widget-duurzaamthuis-content-1:not(.reverse-columns) .content-column {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
   }
   .elementor-widget-duurzaamthuis-content-1.reverse-columns .image-column {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
   }
   .elementor-widget-duurzaamthuis-content-1.reverse-columns .content-column {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
   }
} */

.elementor-widget-duurzaamthuis-content-1 .wrapper {
   display: flex;
}
.elementor-widget-duurzaamthuis-content-1.image-width-33 .image-column {
   flex-basis: calc(33.333% - 15px);
}
.elementor-widget-duurzaamthuis-content-1.image-width-33 .gap-column {
   flex-basis: 30px;
}
.elementor-widget-duurzaamthuis-content-1.image-width-33 .content-column {
   flex-basis: calc(66.666% - 15px);
}

.elementor-widget-duurzaamthuis-content-1.image-width-50 .image-column {
   flex-basis: calc(50% - 15px);
}
.elementor-widget-duurzaamthuis-content-1.image-width-50 .gap-column {
   flex-basis: 30px;
}
.elementor-widget-duurzaamthuis-content-1.image-width-50 .content-column {
   flex-basis: calc(50% - 15px);
}

.elementor-widget-duurzaamthuis-content-1.image-width-66 .image-column {
   flex-basis: calc(66.666% - 15px);
}
.elementor-widget-duurzaamthuis-content-1.image-width-66 .gap-column {
   flex-basis: 30px;
}
.elementor-widget-duurzaamthuis-content-1.image-width-66 .content-column {
   flex-basis: calc(33.333% - 15px);
}




.elementor-widget-duurzaamthuis-content-1.image-align-right .wrapper {
   flex-direction: row-reverse;
}

@media(max-width: 767px) {
   .elementor-widget-duurzaamthuis-content-1 .wrapper {
      flex-direction: column;
   }
   .elementor-widget-duurzaamthuis-content-1.image-align-right .wrapper {
      flex-direction: column-reverse;
   }
   .elementor-widget-duurzaamthuis-content-1.reverse-columns .wrapper {
      flex-direction: column-reverse;
   }
   .elementor-widget-duurzaamthuis-content-1.image-align-right.reverse-columns .wrapper {
      flex-direction: column;
   }
}






/* CONTENT 2 */