/* image-heading-text */
.elementor-widget-dh-image-heading-text .dh-wrapper {
   display: flex;
}
.elementor-widget-dh-image-heading-text.dh-image-width-33 .dh-image-column {
   flex-basis: calc(33.333% - 15px);
}
.elementor-widget-dh-image-heading-text.dh-image-width-33 .dh-gap-column {
   flex-basis: 30px;
}
.elementor-widget-dh-image-heading-text.dh-image-width-33 .dh-content-column {
   flex-basis: calc(66.666% - 15px);
}

.elementor-widget-dh-image-heading-text.dh-image-width-50 .dh-image-column {
   flex-basis: calc(50% - 15px);
}
.elementor-widget-dh-image-heading-text.dh-image-width-50 .dh-gap-column {
   flex-basis: 30px;
}
.elementor-widget-dh-image-heading-text.dh-image-width-50 .dh-content-column {
   flex-basis: calc(50% - 15px);
}

.elementor-widget-dh-image-heading-text.dh-image-width-66 .dh-image-column {
   flex-basis: calc(66.666% - 15px);
}
.elementor-widget-dh-image-heading-text.dh-image-width-66 .dh-gap-column {
   flex-basis: 30px;
}
.elementor-widget-dh-image-heading-text.dh-image-width-66 .dh-content-column {
   flex-basis: calc(33.333% - 15px);
}

.elementor-widget-dh-image-heading-text.dh-image-align-right .dh-wrapper {
   flex-direction: row-reverse;
}

@media(max-width: 767px) {
   .elementor-widget-dh-image-heading-text .dh-wrapper {
      flex-direction: column;
   }
   .elementor-widget-dh-image-heading-text.dh-image-align-right .dh-wrapper {
      flex-direction: column-reverse;
   }
   .elementor-widget-dh-image-heading-text.dh-reverse-columns .dh-wrapper {
      flex-direction: column-reverse;
   }
   .elementor-widget-dh-image-heading-text.dh-image-align-right.dh-reverse-columns .dh-wrapper {
      flex-direction: column;
   }
}






/* anchor-navigation */
.elementor-widget-dh-anchor-navigation .dh-repeater {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 30px;
   grid-row-gap: 10px;
}
.elementor-widget-dh-anchor-navigation .dh-item {
   display: flex;
   background-color: #FAF7F0;
   border-radius: 8px;
   padding: 18px;
   color: var(--e-global-color-secondary);
   transition: color 200ms, background-color 200ms;
}
.elementor-widget-dh-anchor-navigation .dh-item:hover,
.elementor-widget-dh-anchor-navigation .dh-item:not([href]):hover {
   background-color: #DEAC30;
   color: #fff;
}
.elementor-widget-dh-anchor-navigation .dh-item path {
   transition: stroke 200ms;
}
.elementor-widget-dh-anchor-navigation .dh-item:hover path {
   stroke: #fff;
}
.elementor-widget-dh-anchor-navigation .dh-item svg {
   margin-left: 7px;
   margin-right: 9px;
}
@media(max-width: 767px) {
   .elementor-widget-dh-anchor-navigation .dh-repeater {
      grid-template-columns: 1fr;
   }   
}






/* table */
.elementor-widget-dh-table table {
   table-layout: fixed;
} 
.elementor-widget-dh-table table {
   text-align: left;
} 
@media(max-width: 768px) {
   .elementor-widget-dh-table .dh-table-wrapper {
      overflow-x: auto;
   } 
   .elementor-widget-dh-table table {
      width: auto;
   } 
   .elementor-widget-dh-table table th {
      min-width: 60vw;
   } 
}




/* page header */
.elementor-widget-dh-page-header .elementor-section {
   background-size: cover;
   background-position: center;
}
.elementor-widget-dh-page-header .dh-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(180deg, rgba(16, 29, 48, 0) 0%, #101D30 100%);
}
.dh-page-header {
   background-size: cover;
   background-position: center center;
   flex-direction: column;
   flex-wrap: nowrap !important;
   padding-top: 200px;
   padding-bottom: 40px;
   padding-left: 10px;
   padding-right: 10px;
}
@media(max-width: 767px) {
   .dh-page-header {
      padding-top: 50px;
   }
}
.dh-page-header-tags {
   display: flex;
   list-style-type: none;
   padding: 0;
}
.dh-page-header-tag {
   padding: 4px 17px;
   border-radius: 4px;
}
.dh-page-header-tag a {
   text-transform: uppercase;
   font-weight: 600;
}
.dh-page-header-impact {
   padding: 20px;
   background: rgba(255, 255, 255, 0.2);
   border-radius: 6px;
   position: relative;
   backdrop-filter: blur(20px);
}
.dh-page-header-features-section {
   display: grid;
   grid-template-columns: 100px 1fr;
   column-gap: 20px;
}
@media(max-width: 767px) {
   .dh-page-header-features-section {
      grid-template-columns: 1fr;
      row-gap: 15px;
   }
}
.dh-page-header-features {
   display: grid;
   column-gap: 20px;
   row-gap: 20px;
   grid-template-columns: repeat(5, 1fr);
}

@media(max-width: 1024px) {
   .dh-page-header-features {
      grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
   }
}
@media(max-width: 767px) {
   .dh-page-header-features {
      grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
   }
}
.dh-page-header-features-title {
   display: flex;
   align-items: center;
   position: relative;
   font-weight: 600;
   font-size: 20px;
}
@media(max-width: 767px) {
   .dh-page-header-features-title {
      padding-bottom: 10px;
   }
}
.dh-page-header-features-title:after {
   content: '';
   position: absolute;
   right: 0; 
   width: 2px;
   height: 58px;
   background: #FFFFFF;
   opacity: 0.2;
}
@media(max-width: 767px) {
   .dh-page-header-features-title:after {
      width: 58px;
      height: 2px;
      bottom: 0;
      left: 0;
      right: auto;
   }
}
.dh-page-header-feature {
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   justify-content: center;
}
.dh-page-header-feature-title {
   font-weight: bold;
   font-size: 14px;
}
@media(max-width: 767px) {
   .dh-page-header-feature-title {
      font-size: 12px;
   }
}
.dh-page-header-feature-title i {
   margin-right: 10px;
}
.dh-page-header-feature-value {
   margin-left: 26px;
   font-size: 14px;
}
@media(max-width: 767px) {
   .dh-page-header-feature-value {
      font-size: 12px;
   }
}

.dh-page-header-calc {
   grid-row-start: 2;
   grid-column-start: 1;
   grid-column-end: 7;
   border-top: 1px solid rgba(255, 255, 255, 0.1);
   padding-top: 10px;
   margin-top: 20px;
}
/* normal */
.dh-page-header-calc-text { 
   display: none;
}
/* dropdown */
/* .dh-page-header-calc-text { 
   display: none;
   position: absolute;
   right: 10px;
   left: 10px;
   padding: 10px;
   z-index: 2000000000000;
   background-color: #333;
} */

.dh-page-header-calc-toggle:not(.active) .dh-close {
   display: none;
}
.dh-page-header-calc-toggle.active .dh-open {
   display: none;
}
.dh-page-header-calc-toggle > div {
   display: flex;
   align-items: center;
   text-transform: uppercase;
   justify-content: flex-end;
   cursor: pointer;
   font-size: 12px;
   font-weight: 600;
}
.dh-page-header-footer {
   display: flex;
   font-size: 12px;
   margin-top: 30px;
}
@media(max-width: 767px) {
   .dh-page-header-footer {
      flex-direction: column;
   }
}
.dh-page-header-footer a:hover {
   text-decoration: underline;
}
.dh-page-header-meta-items {
   display: inline-flex;
   margin-bottom: 10px;
}
.dh-page-header-meta-item {
   display: flex;
   align-items: center;
   line-height: 1.2em;
   margin-right: 20px;
   padding-right: 20px;
}
.dh-page-header-meta-item:not(:last-child) {
   border-right: 2px solid rgba(255, 255, 255, 0.2);
}
.dh-page-header-meta-item i {
   margin-right: 7px;
}
.dh-page-header-breadcrumbs {
   display: inline-block;
}
.dh-page-header-breadcrumbs a {
   color: inherit;
}
.dh-page-header-breadcrumbs i {
   font-size: 0.8em;
   margin: 0;
}

.dh-page-intro {
   display: block !important;
   padding-top: 60px;
   padding-bottom: 60px;
   padding-left: 10px;
   padding-right: 10px;
   font-weight: bold;
   font-size: 15px;
}
@media(max-width: 767px) {
   .dh-page-intro {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 16px;
   }
}







/* product comparison */
.dh-products-grid {
   display: grid;
   column-gap: 15px;
   row-gap: 30px;
}

/* simple skin */
.dh-products-simple-skin .dh-product .dh-product-wrapper {
   background: #FFFFFF;
   box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
   border-radius: 16px;
   padding: 20px;
   display: grid;
   column-gap: 18px;
   row-gap: 20px;
   position: relative;
}
.dh-products-simple-skin .dh-product .dh-product-wrapper {
   grid-template-columns: 0.9fr 1.1fr;
}

.dh-products-simple-skin .dh-product-image {
   border-radius: 8px;
}
.dh-products-simple-skin .dh-product-image img {
   width: 100%;
   border-radius: 8px;
}
@media(max-width: 767px) {
   .dh-products-simple-skin .dh-product-image,
   .dh-products-simple-skin .dh-product-content {
      grid-column: span 2;
   }
}

.dh-products-simple-skin .dh-product-title {
   font-weight: 500;
   font-size: 16px;
   margin-top: 0;
   margin-bottom: 8px;
}

.dh-products-simple-skin .elementor-star-rating {
   font-size: 14px;
   margin-bottom: 8px;
}
.dh-products-simple-skin .elementor-star-rating i:not(:last-child) {
   margin-right: 4px;
}

.dh-products-simple-skin .dh-product-price {
   font-weight: 500;
   font-size: 14px;
   color: #FF5050;
}
.dh-products-simple-skin .dh-product-order-by {
   font-size: 14px;
   line-height: 24px;
   color: #54CC8B;
}
.dh-products-simple-skin .dh-product-button {
   grid-column: span 2;
   background: #54CC8B;
   border-radius: 8px;
   padding: 11px;
   text-align: center;
   font-size: 14px;
   font-weight: 500;
   color: #FFF;
}



/* extended skin */
.dh-products-extended-skin .dh-product .dh-product-wrapper {
   background: #FFFFFF;
   box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
   border-radius: 16px;
   padding: 20px;
   position: relative;
}
.dh-products-extended-skin .dh-product .dh-product-wrapper {
   grid-template-columns: 1fr;
}

.dh-products-extended-skin .dh-product-badge {
   position: absolute;
   top: 15px;
   left: 0;
   color: #fff;
   padding: 4px 13px;
   font-weight: 500;
   font-size: 12px;
}
.dh-products-extended-skin .dh-product-price-badge {
   background: #FF5050;
}
.dh-products-extended-skin .dh-product-quality-badge {
   background: #DEAC30;
}
.dh-products-extended-skin .dh-product-eco-badge {
   background: #11AFE9;
}


.dh-products-extended-skin .dh-product-image {
   border-radius: 8px;
}
.dh-products-extended-skin .dh-product-image img {
   width: 100%;
}


.dh-products-extended-skin .dh-product-star-rating {
   display: flex;
   font-size: 12px;
   margin-bottom: 7px;
}
.dh-products-extended-skin .dh-product-star-rating-heading {
   font-weight: 500;
   text-transform: uppercase;
   margin-right: 10px;
   margin-top: 3px;
}
.dh-products-extended-skin .elementor-star-rating {
   font-size: 14px;
}
.dh-products-extended-skin .elementor-star-rating i:not(:last-child) {
   margin-right: 4px;
}
.dh-products-extended-skin .dh-product-rating {
   font-size: 12px;
   color: #878F9A;
   margin-bottom: 20px;
}

.dh-products-extended-skin .dh-product-price {
   font-size: 14px;
   margin-bottom: 20px;
}
.dh-products-extended-skin .dh-product-price span {
   font-weight: 500;
}

.dh-products-extended-skin .dh-product-title {
   font-weight: 500;
   font-size: 16px;
   margin-top: 0;
   margin-bottom: 8px;
   font-weight: bold;
}

.dh-products-extended-skin .dh-product-description {
   font-size: 14px;
   line-height: 24px;
   color: #515F70;
   max-height: 48px;
   overflow: hidden;
   position: relative;
   transition: max-height 200ms; 
}
.dh-products-extended-skin .dh-product-description-toggle {
   cursor: pointer;
   color: #2D3745;
}
.dh-products-extended-skin .dh-product-description-toggle .dh-open {
   display: none;
   position: absolute;
   bottom: 0;
   right: 0;
   background-color: #fff;
}
.dh-products-extended-skin .dh-product-description-toggle .dh-close {
   display: none;
   text-align: right;
}

.dh-product-pros-heading,
.dh-product-cons-heading {
   margin: 15px 0;
}



.dh-product-pros-item,
.dh-product-cons-item {
   font-size: 14px;
   display: flex;
   margin-bottom: 10px;
   color: #515F70;
}
.dh-product-pros-item i {
   font-size: 10px;
   color: #DEAC30;
   margin-top: 5px;
   margin-right: 10px;
}
.dh-product-cons-item i {
   font-size: 10px;
   color: #FF5050;
   margin-top: 5px;
   margin-right: 10px;
}
.dh-products-extended-skin .dh-product-button {
   background: #54CC8B;
   border-radius: 8px;
   padding: 11px;
   text-align: center;
   font-size: 14px;
   font-weight: 500;
   color: #FFF;
   display: block;
   margin-top: 10px;
}

/*
.elementor-star-rating {
    color: #ccd6df;
    font-family: eicons;
    display: inline-block;
}
.elementor-star-rating i {
   display:inline-block;
   position:relative;
   font-style:normal;
   cursor:default
  }
  .elementor-star-rating i:before {
   content:"\e934";
   display:block;
   font-size:inherit;
   font-family:inherit;
   position:absolute;
   overflow:hidden;
   color:#f0ad4e;
   top:0;
   left:0
  }
  .elementor-star-rating .elementor-star-empty:before {
   content:none
  }
  .elementor-star-rating .elementor-star-1:before {
   width:10%
  }
  .elementor-star-rating .elementor-star-2:before {
   width:20%
  }
  .elementor-star-rating .elementor-star-3:before {
   width:30%
  }
  .elementor-star-rating .elementor-star-4:before {
   width:40%
  }
  .elementor-star-rating .elementor-star-5:before {
   width:50%
  }
  .elementor-star-rating .elementor-star-6:before {
   width:60%
  }
  .elementor-star-rating .elementor-star-7:before {
   width:70%
  }
  .elementor-star-rating .elementor-star-8:before {
   width:80%
  }
  .elementor-star-rating .elementor-star-9:before {
   width:90%
  }
*/





/* number heading */
.dh-number-heading {
   display: flex;
}
.dh-number-heading .dh-number {
   background: #EADECC;
   border-radius: 8px;
   width: 2em;
   height: 2em;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
}

.dh-number-heading .dh-heading {
   margin-top: 0.4em;
   margin-left: 0.4em;
}




/* impact */
.dh-impact {
   padding: 20px;
   background: rgba(255, 255, 255, 0.2);
   border-radius: 6px;
   position: relative;
   border: 2px solid #DEAC30;
   border-radius: 6px;
}
.dh-impact-features-section {
   display: grid;
   grid-template-columns: 100px 1fr;
   column-gap: 20px;
}
@media(max-width: 767px) {
   .dh-impact-features-section {
      grid-template-columns: 1fr;
      row-gap: 15px;
   }
}
.dh-impact-features {
   display: grid;
   column-gap: 20px;
   row-gap: 20px;
   grid-template-columns: repeat(5, 1fr);
}

@media(max-width: 1024px) {
   .dh-impact-features {
      grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
   }
}
@media(max-width: 767px) {
   .dh-impact-features {
      grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
   }
}
.dh-impact-features-title {
   display: flex;
   align-items: center;
   position: relative;
   font-weight: 600;
   font-size: 20px;
   color: #DEAC30;
}
@media(max-width: 767px) {
   .dh-impact-features-title {
      padding-bottom: 10px;
   }
}
.dh-impact-features-title:after {
   content: '';
   position: absolute;
   right: 0; 
   width: 2px;
   height: 58px;
   background: #2D3745;
   opacity: 0.2;
}
@media(max-width: 767px) {
   .dh-impact-features-title:after {
      width: 58px;
      height: 2px;
      bottom: 0;
      left: 0;
      right: auto;
   }
}
.dh-impact-feature {
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   justify-content: center;
}
.dh-impact-feature-title {
   font-weight: bold;
   font-size: 14px;
}
@media(max-width: 767px) {
   .dh-impact-feature-title {
      font-size: 12px;
   }
}
.dh-impact-feature-title i {
   margin-right: 10px;
   color: #54CC8B;
}
.dh-impact-feature-value {
   margin-left: 26px;
   font-size: 14px;
   color: #515F70;
}
@media(max-width: 767px) {
   .dh-impact-feature-value {
      font-size: 12px;
   }
}





/* numbered list */
.dh-numbered-list-item {
   display: flex;
   margin-bottom: 20px;
}
.dh-numbered-list .dh-numbered-list-item-number {
   background: #EADECC;
   border-radius: 50%;
   width: 2em;
   height: 2em;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   font-weight: 700;
   color: #515F70;
}

.dh-numbered-list .dh-numbered-list-item-text {
   margin-top: 0.25em;
   margin-left: 1em;
}