/* image-heading-text */
.elementor-widget-dh-image-heading-text .dh-wrapper {
   display: flex;
}
.elementor-widget-dh-image-heading-text.dh-image-width-33 .dh-image-column {
   flex-basis: calc(33.333% - 15px);
}
.elementor-widget-dh-image-heading-text.dh-image-width-33 .dh-gap-column {
   flex-basis: 30px;
}
.elementor-widget-dh-image-heading-text.dh-image-width-33 .dh-content-column {
   flex-basis: calc(66.666% - 15px);
}

.elementor-widget-dh-image-heading-text.dh-image-width-50 .dh-image-column {
   flex-basis: calc(50% - 15px);
}
.elementor-widget-dh-image-heading-text.dh-image-width-50 .dh-gap-column {
   flex-basis: 30px;
}
.elementor-widget-dh-image-heading-text.dh-image-width-50 .dh-content-column {
   flex-basis: calc(50% - 15px);
}

.elementor-widget-dh-image-heading-text.dh-image-width-66 .dh-image-column {
   flex-basis: calc(66.666% - 15px);
}
.elementor-widget-dh-image-heading-text.dh-image-width-66 .dh-gap-column {
   flex-basis: 30px;
}
.elementor-widget-dh-image-heading-text.dh-image-width-66 .dh-content-column {
   flex-basis: calc(33.333% - 15px);
}

.elementor-widget-dh-image-heading-text.dh-image-align-right .dh-wrapper {
   flex-direction: row-reverse;
}

@media(max-width: 767px) {
   .elementor-widget-dh-image-heading-text .dh-wrapper {
      flex-direction: column;
   }
   .elementor-widget-dh-image-heading-text.dh-image-align-right .dh-wrapper {
      flex-direction: column-reverse;
   }
   .elementor-widget-dh-image-heading-text.dh-reverse-columns .dh-wrapper {
      flex-direction: column-reverse;
   }
   .elementor-widget-dh-image-heading-text.dh-image-align-right.dh-reverse-columns .dh-wrapper {
      flex-direction: column;
   }
}






/* anchor-navigation */
.elementor-widget-dh-anchor-navigation .dh-repeater {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 30px;
   grid-row-gap: 10px;
}
.elementor-widget-dh-anchor-navigation .dh-item {
   display: flex;
   background-color: #FAF7F0;
   border-radius: 8px;
   padding: 18px;
   color: var(--e-global-color-secondary);
   transition: color 200ms, background-color 200ms;
}
.elementor-widget-dh-anchor-navigation .dh-item:hover,
.elementor-widget-dh-anchor-navigation .dh-item:not([href]):hover {
   background-color: #DEAC30;
   color: #fff;
}
.elementor-widget-dh-anchor-navigation .dh-item path {
   transition: stroke 200ms;
}
.elementor-widget-dh-anchor-navigation .dh-item:hover path {
   stroke: #fff;
}
.elementor-widget-dh-anchor-navigation .dh-item svg {
   margin-left: 7px;
   margin-right: 9px;
}
@media(max-width: 767px) {
   .elementor-widget-dh-anchor-navigation .dh-repeater {
      grid-template-columns: 1fr;
   }   
}






/* table */
.elementor-widget-dh-table table {
   table-layout: fixed;
} 
.elementor-widget-dh-table table {
   text-align: left;
} 
@media(max-width: 768px) {
   .elementor-widget-dh-table .dh-table-wrapper {
      overflow-x: auto;
   } 
   .elementor-widget-dh-table table {
      width: auto;
   } 
   .elementor-widget-dh-table table th {
      min-width: 60vw;
   } 
}




/* page header */
.elementor-widget-dh-page-header .elementor-section {
   background-size: cover;
   background-position: center;
}
.elementor-widget-dh-page-header .dh-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(180deg, rgba(16, 29, 48, 0) 0%, #101D30 100%);
}
.dh-page-header {
   background-size: cover;
   background-position: center center;
   flex-direction: column;
   flex-wrap: nowrap !important;
   padding-top: 200px;
   padding-bottom: 40px;
   padding-left: 10px;
   padding-right: 10px;
}
@media(max-width: 767px) {
   .dh-page-header {
      padding-top: 50px;
   }
}
.dh-page-header-tags {
   display: flex;
   list-style-type: none;
   padding: 0;
}
.dh-page-header-tag {
   padding: 4px 17px;
   border-radius: 4px;
}
.dh-page-header-tag a {
   text-transform: uppercase;
   font-weight: 600;
}
.dh-page-header-impact {
   padding: 20px;
   background: rgba(255, 255, 255, 0.2);
   border-radius: 6px;
   position: relative;
   backdrop-filter: blur(20px);
}
.dh-page-header-features-section {
   display: grid;
   grid-template-columns: 100px 1fr;
   column-gap: 20px;
}
@media(max-width: 767px) {
   .dh-page-header-features-section {
      grid-template-columns: 1fr;
      row-gap: 15px;
   }
}
.dh-page-header-features {
   display: grid;
   column-gap: 20px;
   row-gap: 20px;
   grid-template-columns: repeat(5, 1fr);
}

@media(max-width: 1024px) {
   .dh-page-header-features {
      grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
   }
}
@media(max-width: 767px) {
   .dh-page-header-features {
      grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
   }
}
.dh-page-header-features-title {
   display: flex;
   align-items: center;
   position: relative;
   font-weight: 600;
   font-size: 20px;
}
@media(max-width: 767px) {
   .dh-page-header-features-title {
      padding-bottom: 10px;
   }
}
.dh-page-header-features-title:after {
   content: '';
   position: absolute;
   right: 0; 
   width: 2px;
   height: 58px;
   background: #FFFFFF;
   opacity: 0.2;
}
@media(max-width: 767px) {
   .dh-page-header-features-title:after {
      width: 58px;
      height: 2px;
      bottom: 0;
      left: 0;
      right: auto;
   }
}
.dh-page-header-feature {
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   justify-content: center;
}
.dh-page-header-feature-title {
   font-weight: bold;
   font-size: 14px;
}
@media(max-width: 767px) {
   .dh-page-header-feature-title {
      font-size: 12px;
   }
}
.dh-page-header-feature-title i {
   margin-right: 10px;
}
.dh-page-header-feature-value {
   margin-left: 26px;
   font-size: 14px;
}
@media(max-width: 767px) {
   .dh-page-header-feature-value {
      font-size: 12px;
   }
}

.dh-page-header-calc {
   grid-row-start: 2;
   grid-column-start: 1;
   grid-column-end: 7;
   border-top: 1px solid rgba(255, 255, 255, 0.1);
   padding-top: 10px;
   margin-top: 20px;
}
/* normal */
.dh-page-header-calc-text { 
   display: none;
}
/* dropdown */
/* .dh-page-header-calc-text { 
   display: none;
   position: absolute;
   right: 10px;
   left: 10px;
   padding: 10px;
   z-index: 2000000000000;
   background-color: #333;
} */

.dh-page-header-calc-toggle:not(.active) .close {
   display: none;
}
.dh-page-header-calc-toggle.active .open {
   display: none;
}
.dh-page-header-calc-toggle > div {
   display: flex;
   align-items: center;
   text-transform: uppercase;
   justify-content: flex-end;
   cursor: pointer;
   font-size: 12px;
   font-weight: 600;
}
@media(max-width: 767px) {
   .dh-page-header-calc-toggle > div {
      justify-content: flex-start;
   }
}
.dh-page-header-footer {
   display: flex;
   font-size: 12px;
   margin-top: 30px;
}
@media(max-width: 767px) {
   .dh-page-header-footer {
      flex-direction: column;
   }
}
.dh-page-header-footer a:hover {
   text-decoration: underline;
}
.dh-page-header-meta-items {
   display: inline-flex;
   margin-bottom: 10px;
}
.dh-page-header-meta-item {
   display: flex;
   align-items: center;
   line-height: 1.2em;
   margin-right: 20px;
   padding-right: 20px;
}
.dh-page-header-meta-item:not(:last-child) {
   border-right: 2px solid rgba(255, 255, 255, 0.2);
}
.dh-page-header-meta-item i {
   margin-right: 7px;
}
.dh-page-header-breadcrumbs {
   display: inline-block;
}
.dh-page-header-breadcrumbs a {
   color: inherit;
}
.dh-page-header-breadcrumbs i {
   font-size: 0.8em;
   margin: 0;
}

.dh-page-intro {
   padding-top: 60px;
   padding-bottom: 60px;
   padding-left: 10px;
   padding-right: 10px;
   font-weight: bold;
   font-size: 18px;
}
@media(max-width: 767px) {
   .dh-page-intro {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 16px;
   }
}