@font-face {
  font-family: 'dh-icons';
  src:
    url('fonts/dh-icons.ttf?niotop') format('truetype'),
    url('fonts/dh-icons.woff?niotop') format('woff'),
    url('fonts/dh-icons.svg?niotop#dh-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.dh-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dh-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dh-icon-post-header:before {
  content: "\e910";
}
.dh-icon-arrow-right:before {
  content: "\e90e";
}
.dh-icon-arrow-left:before {
  content: "\e90f";
}
.dh-icon-arrow-up:before {
  content: "\e90c";
}
.dh-icon-arrow-down:before {
  content: "\e90d";
}
.dh-icon-info:before {
  content: "\e90b";
}
.dh-icon-clock:before {
  content: "\e909";
}
.dh-icon-comments:before {
  content: "\e90a";
}
.dh-icon-table:before {
  content: "\e906";
}
.dh-icon-anchor-navigation:before {
  content: "\e907";
}
.dh-icon-image-heading-text:before {
  content: "\e908";
}
.dh-icon-user:before {
  content: "\e900";
}
.dh-icon-benefit:before {
  content: "\e901";
}
.dh-icon-price:before {
  content: "\e902";
}
.dh-icon-payback:before {
  content: "\e903";
}
.dh-icon-convenience:before {
  content: "\e904";
}
.dh-icon-subsidy:before {
  content: "\e905";
}
