/* table control */
.dh-control-popup-wrapper {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   justify-content: center;
   align-items: center;
   z-index: 999999999;
}
.dh-control-popup-wrapper.active {
   display: flex;
}

.dh-control-popup {
   width: 1180px;
   max-width: 90%;
   height: 100%;
   max-height: 80%;
   background-color: #34383c;
   display: grid;
   grid: 40px 1fr / 1fr;
   padding: 0 10px 10px 10px;
   border-radius: 5px;
   box-shadow: 0 0 60px -14px rgba(0, 0, 0, 0.5);
}

.dh-control-popup-header {
   display: grid;
   grid: 1fr / 1fr 20px;
   background-color: #34383c;
   color: #e0e1e3;
}
.dh-control-popup-header .dh-control-popup-title {
   display: flex;
   align-items: center;
   color: inherit;
}
.dh-control-popup-header .dh-control-popup-close {
   display: flex;
   justify-content: center;
   align-items: center;
   color: inherit;
   font-size: 20px;
   cursor: pointer;
}
.dh-control-popup-content {
   border-radius: 2px;
   color: #333;
   padding: 40px;
   background-color: #f5f5f5;
   overflow-y: auto;
}
.dh-control-popup-content table {
   width: 100%;
   border-collapse: collapse;
   table-layout: fixed;
}
.dh-control-popup-content table th,
.dh-control-popup-content table td {
   border: 1px solid #333;
   padding: 20px;
   cursor: move;
   user-select: none;
   vertical-align: top;
   position: relative;
}
.dh-control-popup-content table td span {
   padding: 4px;
   cursor: text;
   user-select: text;
   display: block;
   white-space: pre-wrap;
}
.dh-control-popup-content .sortable-placeholder th,
.dh-control-popup-content .sortable-placeholder td {
   border: 1px solid transparent !important;
}
.dh-control-popup-content tr:not(:last-child).sortable-placeholder td {
   border-bottom: 1px solid #333 !important;
}

.dh-control-popup-content td:hover span {
   background-color: #e9e9e9 !important; 
   box-shadow: 0 0 1px #aaa;
}
.dh-control-popup-content td span:focus {
   background-color: transparent !important; 
   box-shadow: 0 0 1px #999;
}
.dh-control-popup-content td span {
   width: 100%;
}
.dh-control-popup-content .ui-sortable-helper {
   background-color: #f5f5f5; 
}
.dh-control-popup-content .sortable-placeholder {
   margin: 5px !important;
   border: 2px dashed #999;
}
.dh-control-popup-content table.table tr:first-child {
   font-weight: bold;
}

.dh-control-popup-content .dh-col-control {
   position: absolute;
   top: -30px;
   left: 0;
   width: 100%;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   cursor: auto;
   opacity: 0;
}
.dh-control-popup-content .dh-row-control {
   position: absolute;
   right: -30px;
   top: 0;
   height: 100%;
   width: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   cursor: auto;
   opacity: 0;
}
.dh-control-popup-content .dh-col-control.active,
.dh-control-popup-content .dh-row-control.active {
   opacity: 1;
}
.dh-control-popup-content i {
   color: red;
   cursor: pointer;
}

.dh-control-popup-content .dh-add-row,
.dh-control-popup-content .dh-add-column {
   padding: 5px 10px;
   margin-top: 5px;
   cursor: pointer;
}
.dh-control-popup-content .dh-add-row i,
.dh-control-popup-content .dh-add-column i {
   color: inherit;
   margin-right: 5px;
}





.dh-edit-template-popup {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 100;
   background-color: rgba( 0, 0, 0, 0.7);
}
.dh-edit-template-popup iframe {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   padding: 60px;
}
.dh-edit-template-popup .dh-close-template-popup {
   position: absolute;
   bottom: 10px;
   height: 40px;
   right: 60px;
   width: 100px;
   background: #fff;
   color: #333;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}


