/* repeater control */
.dh-table-popup-wrapper {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
   justify-content: center;
   align-items: center;
   z-index: 999999999;
}
.dh-table-popup-wrapper.active {
   display: flex;
}

.dh-table-popup {
   width: 1180px;
   max-width: 90%;
   height: 100%;
   max-height: 80%;
   background-color: #34383c;
   display: grid;
   grid: 40px 1fr / 1fr;
   padding: 0 10px 10px 10px;
   border-radius: 5px;
   box-shadow: 0 0 60px -14px rgba(0, 0, 0, 0.5);
}

.dh-table-popup-header {
   display: grid;
   grid: 1fr / 1fr 20px;
   background-color: #34383c;
   color: #e0e1e3;
}
.dh-table-popup-header .dh-table-popup-title {
   display: flex;
   align-items: center;
   color: inherit;
}
.dh-table-popup-header .dh-table-popup-close {
   display: flex;
   justify-content: center;
   align-items: center;
   color: inherit;
   font-size: 20px;
   cursor: pointer;
}
.dh-table-popup-content {
   border-radius: 2px;
   color: #333;
   padding: 20px;
   background-color: #f5f5f5;
   overflow-y: auto;
}
.dh-table-popup-content table {
   width: 100%;
   border-collapse: collapse;
   table-layout: fixed;
}
.dh-table-popup-content table th,
.dh-table-popup-content table td {
   border: 1px solid #333;
   padding: 20px;
   cursor: move;
   user-select: none;
   vertical-align: top;
}
.dh-table-popup-content table td span {
   padding: 4px;
   cursor: text;
   user-select: text;
   display: block;
   white-space: pre-wrap;
}
.dh-table-popup-content .sortable-placeholder th,
.dh-table-popup-content .sortable-placeholder td {
   border: 1px solid transparent !important;
}
.dh-table-popup-content tr:not(:last-child).sortable-placeholder td {
   border-bottom: 1px solid #333 !important;
}

.dh-table-popup-content td:hover span {
   background-color: #e9e9e9 !important; 
   box-shadow: 0 0 1px #aaa;
}
.dh-table-popup-content td span:focus {
   background-color: transparent !important; 
   box-shadow: 0 0 1px #999;
}
.dh-table-popup-content td span:empty {
   width: 100px;
}
.dh-table-popup-content .ui-sortable-helper {
   background-color: #f5f5f5; 
}
.dh-table-popup-content .sortable-placeholder {
   margin: 5px !important;
   border: 2px dashed #999;
}
.dh-table-popup-content table tr:first-child {
   font-weight: bold;
}